<div class="wrapper">
  <h1>List of Products</h1>

  <mat-card class="example-card" *ngFor="let product of products">
    <mat-card-header>
      <mat-card-title>{{product.title}}</mat-card-title>
    </mat-card-header>
    <img mat-card-image [ngSrc]="product.thumbnail" width="400" height="200" [alt]="product.description" [priority]="product.title === 'iPhone 9'? true : false">
    <mat-card-content>
      <p>
        {{product.description}}
      </p>
      <p>
        Price: ${{product.price}}
      </p>
    </mat-card-content>
  </mat-card>

</div>
