<app-header [title]="headerTitle" *ngIf="isHeaderVisible"></app-header>

<form *ngIf="formGroup" [formGroup]="formGroup">
  <p>
    <mat-form-field appearance="outline">
      <mat-label>Name</mat-label>
      <input name="name" matInput placeholder="Name" formControlName="name">
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="outline">
      <mat-label>Last name</mat-label>
      <input matInput name="lastName" placeholder="Last name" formControlName="lastName">
    </mat-form-field>
  </p>
  <button type="submit">Submit!</button>
  <br>
  <button routerLink="/profile">Go To profile</button><br>
  <button (click)="goToProfileAndLogCabbage();">Log Cabbage and go to profile</button>
</form>

<app-footer [title]="footerTitle"></app-footer>
